@use '../_utils/colors';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus:not(:focus-visible) {
  outline: none;
}

*:focus-visible {
  outline: 2px solid black;
  outline: -webkit-focus-ring-color auto 1px;
}

a {
  color: colors.$rich-black;
  text-decoration: none;
}
