@use '../variables' as vars;
@use '../functions' as fn;
@use 'sass:list';
@use 'sass:selector';
@use 'sass:math';

@forward 'sass-mq/mq' with (
  $breakpoints: vars.$breakpoints,
);

@mixin font-size-and-height($font-pixels, $line-pixels) {
  font-size: fn.toRem($font-pixels);
  line-height: math.div($line-pixels, $font-pixels);
}
