$alice-blue: #EDEFFC;
$awesome: #FF1C44;
$black-pearl: #0A051E;
$bright-turquoise: #00F4E2;
$ghost-White: #F8F9FF;
$guppie-green: #00FF7F;
$rich-black: #03050F;
$shadow-blue: #7981B2;
$soap: #CCD1EE;
$ucla-blue: #5E6488;
$ultramarine-blue: #4F4FFF;
