$base-url: '/dist' !default;

$breakpoints: (
  tiny: 375px,
  small: 576px,
  medium: 768px,
  regular: 992px,
  large: 1200px,
  xlarge: 1400px,
) !default;

$grid-gutter-width: 24px !default;

$container-max-widths: (
  tiny: 351px + $grid-gutter-width,
  small: 552px + $grid-gutter-width,
  medium: 744px + $grid-gutter-width,
  regular: 968px + $grid-gutter-width,
  large: 1176px + $grid-gutter-width,
  xlarge: 1376px + $grid-gutter-width,
) !default;

$font-size-base: 16px !default;
$font-line-height: 1.25 !default;
