$base-url: '/dist' !default;

$breakpoints: (
  tiny: 375px,
  small: 576px,
  medium: 768px,
  regular: 992px,
  large: 1200px,
  xlarge: 1400px,
) !default;

$grid-gutter-width: 48px !default;

$container-max-widths: (
  tiny: 327px + $grid-gutter-width,
  small: 528px + $grid-gutter-width,
  medium: 720px + $grid-gutter-width,
  regular: 944px + $grid-gutter-width,
  large: 1152px + $grid-gutter-width,
  xlarge: 1352px + $grid-gutter-width,
) !default;

$font-size-base: 16px !default;
$font-line-height: 1.25 !default;
